.Login_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    max-height: 100vh;
}

.Login_div_Left {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login_div_Right {
    width: 100%;
    height: 100vh;
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width : 1000px) {
    .Login_div_Right {
        width: 100%;
    }

    .Login_div_Left {
        width: 0%;
    }
}

.login_form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Login_bem_vindo {
    margin-top: 10%;
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 76px;
}

.Login_p {
    font-family: var(--fonte);
    font-size: 30px;
    padding-left: 20px;
}

.Login_Recuperar_senha {
    width: 100%;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Login_Recuperar_senha_div{
    gap: 10px;
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.Login_p_Esqueceu {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte);
    font-size: 20px;
}

.Login_Inputs {
    width: 100%;
    font-family: var(--fonte);
    font-size: 25px;
    padding: 25px 30px 25px 30px;
    border-radius: 50px;
    border-style: none;
    background-color: var(--branco);
    text-align: center;
}

.login_button {
    width: 100%;
    height: 65px;
    font-size: 30px;
    border-radius: 50px;
    background-color: var(--verde);
    color: var(--branco);
    border-style: none;
}

.login_button:hover {
    cursor: pointer;
    background-color: var(--verde-destaque);
}

.login_button_cadastro {
    border-radius: 50px;
    margin: 2% 0% 2% 0%;
    width: 50%;
    height: 65px;
    font-size: 30px;
    background-color: transparent;
    color: var(--branco);
    border-style: none;
}

.login_button_cadastro:hover {
    cursor: pointer;
    background-color: var(--azul-escuro);
}

.loadingContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-medio);
    opacity: 0.5;
}