.flip_card_Small {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    perspective: 1000px;
    margin: 0px 25px 25px 25px;
 
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_card_Small:hover .flip_card_inner {
    transform: rotateY(90deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_card_front {
    border-radius: 50%;
}

.flip_card_back {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    transform: rotateY(180deg);
}

.item_link_flipCard_Small{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_flipCard_Small{
    height: 60px;
    width: 60px;
}
