{
    "System": {
        "webcam": 0,
        "mirrored_webcam": true
    },
    "HandTracking": {
        "in_use": true,
        "interaction_area": {
            "x": [
                0.2,
                0.8
            ],
            "y": [
                0.2,
                0.8
            ]
        }
    }
}